.about-me {
  background-color: var(--background-color);
  width: 100%;
  padding-top: 30px;
  margin-top: 50px;
  height: calc(84vh - 50px);
  border-bottom-left-radius: 100px;
  position: relative;
  overflow: hidden;
  z-index: 0;

  @media screen and (min-width: 700px) {
    height: calc(95vh - 70px);
    margin-top: 70px;
  }
}

.group > div > svg > circle {
  fill: rgba(226, 222, 222, 0.562);
}

.content {
  display: grid;
  position: relative;
  text-align: justify;
  gap: 20px;
  width: 90%;
  z-index: 10;
  margin: 25% auto auto auto;

  h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 52px;
    text-align: initial;
  }

  p {
    font-size: 16px;
  }

  a {
    color: #6070ff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 2px;
  }

  @media screen and (min-width: 700px) {
    width: 60%;
    margin: 10% auto auto auto;

    p {
      font-size: 20px;
    }
  }
}

.social_media {
  display: flex;
  list-style: none;

  a {
    font-size: 25px;
  }

  li {
    margin: 0 10px;

    svg:hover {
      fill: var(--btn-bg-color);
    }
  }

  li:first-child {
    margin-left: 0;
  }
}

