.about-me {
  background-color: var(--background-color);
  width: 100%;
  padding-top: 30px;
  height: 84vh;
  border-bottom-left-radius: 100px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  // padding: 100px;
}

.group > div > svg > circle {
  fill: rgba(226, 222, 222, 0.562);
}

.group {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;

  .group1 rect,
  .group2 rect,
  .group5 rect,
  .group4 .ell-13 path {
    fill: #6468884b;
  }

  // div {
  //   svg {
  //     circle {
  //       fill: rgba(226, 222, 222, 0.562);
  //     }
  //   }
  // }
  
  &1 {
    width: 150px;
    height: 108px;
    z-index: 0;
    top: 8%;
    right: -55px;
    position: absolute;
  
    .rect-4 {
      top: -30px;
      position: absolute;
    }
  }
  
  &2 {
    height: 54px;
    width: 119px;
    position: absolute;
  
    .ell-11 {
      position: absolute;
      top: 20px;
    }
  }
  
  &3 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5%;
    left: 40%;

    div {
      position: absolute;
    }
  
    .ell-5 {
      top: 4px;
    }
  }

  &4 {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 25%;
    right: 2%;

    div {
      position: absolute;
    }

    .ell-12 {
      left: 3px;
    }

    .ell-13 {
      top: 16px;

    }
  }

  &5 {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 30%;

    div {
      position: absolute;
    }

    .ell-4 {
      left: 51px;
    }
  }

  .ell-8 {
    position: absolute;
    top: 0;
    left: 60%;
  }

  .ell-14 {
    position: absolute;
    top: 30%;
    right: 20%;
  }

  .ell-15 {
    position: absolute;
    bottom: 15%;
    left: 15%;
  }
}

.content {
  display: grid;
  position: relative;
  text-align: justify;
  gap: 20px;
  width: 90%;
  z-index: 10;
  margin: 25% auto auto auto;

  h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 52px;
    text-align: initial;
  }

  p {
    font-size: 16px;
  }

  a {
    color: #6070ff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 2px;
  }

  .social_media {
    display: flex;
    list-style: none;

    a {
      font-size: 25px;
    }

    li {
      margin: 0 10px;
    }

    li:first-child {
      margin-left: 0;
    }
  }
}

// .about-me > svg {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   z-index: 0;
// }

