:root {
  --background-color: #efeef1;
  --btn-bg-color: #6070ff;
  --principal-color: #252832;
  --link-color: #5263ff;
  --border-color: #dfe1e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #252832;
    --principal-color: #efeef1;
  }
}
