@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --background-color: #fff;
  --primary-bg-color: rgba(223, 225, 230, 0.5);
  --btn-bg-color: #6070ff;
  --principal-color: #252832;
  --link-color: #5263ff;
  --footer-color: #6070ff;

  --border-color: #dfe1e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #252832;
    --primary-bg-color: #3e4457;
    --btn-bg-color: #6070ff;
    --principal-color: #efeef1;
    --border-color: #3e44579a;
  }
}

* {
  color: var(--principal-color);
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-bg-color);
}

.btn {
  padding: 10px;
  border-radius: 8px;
  background: none;
  border: 1px solid var(--btn-bg-color);
  color: var(--link-color);
  font-size: 17px;
  font-weight: 500;
  transition: all 500ms;
  letter-spacing: 0.03em;
  text-align: center;
  width: max-content;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--btn-bg-color);
  color: white;
  box-shadow: 0 8px 16px var(--principal-color);
}
